* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;/*boyutlandırma orantılı*/
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f9f9f9;
    color: #333;
}

header{
    background-color: #e35808;
    color: #fff;
    padding: 20px 0px;
    text-align: center;
}

header h1{
    margin-bottom: 10px;
}

nav ul{
    list-style: none;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}
nav ul li a{
    color: #fff;
    text-decoration: none;
}
nav ul li a:hover{
    text-decoration: underline;
}

.search-container{
    max-width: 800px;
    margin: 30px auto 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.search-container input{
    padding: 20px;
    width: 70%;
    border-radius: 30px 0 0 30px;
    border: none;
    outline: none;
    font-size: 18px;
    box-shadow: 0 2px 5px gray;
}

.search-container button{
    padding: 20px 30px;
    box-shadow: 0 2px 5px gray;
    background-color: #ff5733;
    border: none;
    outline: none;
    border-radius: 0 30px 30px 0;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
    transition: 300ms all;
}

.search-container button:hover{
    background-color: #ff3d00;
}

.hero{
    background-image: url("img/hero-background.jpg");
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
    padding: 100px 0px;
}

.hero h1{
    font-size: 40px;
    margin-bottom: 20px;
}
.hero p{
    font-size: 20px;
    margin-bottom: 30px;
}

.button{
    display: inline-block;
    background-color: #ff5733;
    color: #fff;
    padding: 15px 30px;
    text-decoration: none;
    border-radius: 4px;
    transition: 300ms all;
}

.order-button{
    display: block;
    margin: 0 auto;
    margin-top: 10px !important;
    background-color: #ff5733;
    color: #fff;
    padding: 10px 20px;
    border-radius: 4px;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 300ms all;
}


.button:hover{
    background-color: #ff3d00;
}

.promotion, .featured, .menu{
    max-width: 1200px;
    margin: 20px auto;
    position: relative;
}

.promotion h2,
.featured h2,
.menu h2{
    margin-bottom: 20px;
}

.menu-items{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.menu-item{
    width: calc(33.333% - 20px);
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px gray;
    position: relative;
}

.menu-item:hover{
    transition: 300ms all;
    transform: scale(1.04);
}

.menu-item img{
    width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
}

.menu-item h3,
.menu-item p{
    margin-bottom: 13px;
}

.menu-item span{
    display: block;
    font-weight: bold;
    color: green;
}

del{
    color: red;
    opacity: 0.7;
}

.tag{
    background-color: #b8ff33;
    color: #fff !important;
    padding: 5px 10px;
    border-radius: 5px;
    position: absolute;
    font-size: 12px;
    top: -10px;
    right: -5px;

}

footer{
    background-color: #ff3d00;
    color: #fff;
    text-align: center;
    padding: 20px 0px;
}

@media only screen and (max-width:480px){
    .menu{
        text-align: center;
    }
    .promotion,
    .featured{
        text-align: center;
    }
    .menu-item{
        width: 90%;
        margin: 15px auto;
    }
    .search-container input {
        width: 300px;
        padding: 8px;
        margin-right: 8px;
    }
    
    .search-container button {
        padding: 8px;
    }
    
}
.search-container input {
    width: 350px;
    padding: 13px;
    margin-right: 8px;
}

.search-container button {
    padding: 13px;
}
#hakkimizda, #iletisim {
    color :#fff;
    text-align: center; /* Metni ortalar */
    margin: 50px auto;  /* Üst ve alt boşluk ekler, ortalamak için otomatik kenar boşluğu */
    max-width: 800px;   /* İçeriğin genişliğini sınırlar */
    padding: 20px;      /* İçeriğin etrafına boşluk ekler */
    background-color: #ff3d00; /* Arka plan rengini ayarlar */
    border-radius: 8px; /* Köşeleri yuvarlar */
    box-shadow: 0 0 10px rgba(243, 239, 239, 0.1); /* Hafif gölge ekler */
}

#hakkimizda h2, #iletisim h2 {
    margin-bottom: 20px; /* Başlıkların altına boşluk ekler */
}

#hakkimizda p, #iletisim p, #iletisim ul {
    text-align: center; /* Paragrafları sola hizalar */
}

#iletisim ul {
    list-style-type: none; /* Liste işaretlerini kaldırır */
    padding: 0; /* Varsayılan dolgu değerini sıfırlar */
}

#iletisim li {
    margin-bottom: 10px; /* Liste öğeleri arasında boşluk bırakır */
}
#topBtn {
    display: none; /* Başlangıçta gizli */
    position: fixed; /* Ekranın sabit bir noktasında */
    bottom: 20px; /* Ekranın altından 20 piksel yukarıda */
    right: 30px; /* Ekranın sağından 30 piksel solda */
    z-index: 99; /* Diğer elementlerin üzerinde */
    border: none; /* Kenar yok */
    outline: none; /* Kontur yok */
    background-color: #b8ff33; /* Arka plan rengi */
    color: white; /* Metin rengi */
    cursor: pointer; /* İşaretçi simgesi */
    padding: 15px; /* İç boşluk */
    border-radius: 10px; /* Yuvarlatılmış köşeler */
}

#topBtn:hover {
    background-color: #333; /* Üzerine gelindiğinde arka plan rengi */
}
